@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
}

:root {
	--bg-color: #2b2b2b;
	--primary-color: #32b68a;
	--text-color: #ffffff;
	--subtext-color: #757575;
	--btntext-color: #fff;
	--table-division: #70707011;
	--cards-bg: linear-gradient(145deg, #272727, #2e2e2e);
	--cards-shadow: inset 20px 20px 60px #252525, inset -20px -20px 60px #313131;

	--hover-bg: linear-gradient(90deg, #32b68a, #13805b);
	--hover1-shadow: 5px 5px 10px #0005, -5px -5px 10px #fff1;
	--hover2-shadow: inset 5px 5px 10px #0005, inset -5px -5px 10px #fff1;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	background: var(--bg-color);
	color: var(--text-color);
}

.card {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 900px;
	margin: 50px auto;
	padding: 50px 0;
	align-items: center;
	border-radius: 20px;
	background: var(--cards-bg);
	box-shadow: var(--cards-shadow);
}

.card h2 {
	font-size: 1.5rem;
	margin-bottom: 30px;
}

main img {
	width: 10em;
	border-radius: 50%;
	border: 8px solid var(--primary-color);
}

main .nome {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0;
}

main h3 {
	color: var(--subtext-color);
}

main a {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	background-color: var(--primary-color);
	color: var(--btntext-color);
	padding: 20px 30px;
	width: 60%;
}

main a::after {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-top: 5px;
	background-image: url("./assets/next.svg");
	transform: rotate(90deg);
	filter: invert(1);
}

.info table {
	width: 90%;
	font-weight: 600;
	border-spacing: 0;
}

.info table tr td {
	padding: 5px 0;
}

.info table tr:nth-child(even) {
	background-color: var(--table-division);
}

.info table tr td:nth-child(odd) {
	color: var(--subtext-color);
}

.info table tr td:nth-child(even) {
	text-align: right;
}

.parentes .parente {
	width: 90%;
	display: flex;
	margin: 10px 0;
}

.parentes .parente > img {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
}

.parentes .parente .nome {
	margin: 0 10px;
}

.parentes .parente .nome h3 {
	font-weight: 600;
}

.parentes .parente .nome h4 {
	font-weight: 500;
	color: var(--subtext-color);
}

.parentes .parente a {
	background-color: var(--primary-color);
	width: 2.5em;
	border-radius: 10px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.parentes .parente a:first-of-type {
	margin-left: auto;
}

.parentes .parente a img {
	width: 50%;
}

.mapa p {
	margin-top: 30px;
	max-width: 60%;
	text-align: center;
}

#map {
	background-color: #5a62cc42;
	width: 90%;
	height: 500px;
}

#toggleDarkMode {
	width: 60px;
	height: 60px;
	position: fixed;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

#toggleDarkMode * {
	position: absolute;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(2px 3px 5px #222);
}

.circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	transform: scale(0);
	backdrop-filter: invert(1);
	/* animation: scaleUp 1s ease-out forwards; */
	pointer-events: none;
}

@keyframes scaleUp {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(70);
		opacity: 1;
	}
	100% {
		transform: scale(70);
		opacity: 0;
	}
}
/* --------------- */
.icon {
	width: 1rem;
	margin: 0;
	border: none;
}

.invert {
	filter: invert(1);
}

.displaynone {
	display: none;
}

.hoverEffect {
	box-shadow: var(--hover1-shadow);
	background: var(--hover-bg);
	background-position: 0% 0%;
	background-size: 100% 100%;
	transition: all 0.5s ease;
}

.hoverEffect:hover {
	box-shadow: var(--hover2-shadow);
	background-position: -100% 0%;
}

/* * RESPONSIVE */
@media (max-width: 500px) {
	body {
		font-size: 15px;
	}
	main a {
		width: 50%;
		padding-bottom: 50px;
	}
	main a::after {
		width: 30px;
		height: 30px;
		margin: 0;
		margin-top: 35px;
		left: calc(50% - 15px);
	}
}

@media (max-width: 350px) {
	body {
		font-size: 10px;
	}
}

@media (min-width: 1200px) {
	#toggleDarkMode {
		left: calc(515px + 50%);
	}
}
